input{
    max-width: 388px;
}
a{
    text-decoration: none;
}
.main {
    width: 68%;
    padding: 28px
}
.sidebar {
    width: 32%;
}
.form-check-label{
    box-sizing: content-box;
}
.section_title{
    font-weight: 600;
    font-size: 18.4px;
}