.container{
    max-width: 1140px;
    font-family: Tahoma;
}
.gray-container{
    background: #f4f2ed;
    padding: 8px 12px;
    margin: 20px 0px 10px;
    border-radius: 5px;
}
.list-blogs.blog-main .blog-item .blog-item-meta .post-author {
    color: #e4b95b;
}
.list-blogs.blog-main .blog-item .blog-item-name {
    font-size: 24px;
}
.blog-item-name {
    font-weight: 700;
    position: relative;
    font-size: 1em;
    margin: 0;
}
.list-blogs.blog-main .blog-item .blog-item-meta {
    display: flex;
    font-size: 12px;
    margin: 5px 0;
}
.list-blogs.blog-main .blog-item .blog-item-meta>div {
    margin-right: 5px;
}
.list-blogs.blog-main .blog-item .blog-item-meta {
    display: flex;
    font-size: 12px;
    margin: 5px 0;
}
.list-blogs.blog-main .blog-item .blog-item-meta>div:after {
    content: '-';
}
.list-blogs.blog-main .blog-item:first-child {
    border-top: none;
    padding-top: 0px;
}
.list-blogs.blog-main .blog-item {
    display: flex;
}
.list-blogs.blog-main .blog-item {
    border-top: 1px dotted #cdcdcd;
    margin-bottom: 15px;
    padding-top: 15px;
}
.blog-item {
    overflow: hidden;
    margin-bottom: 15px;
}
a, .text-link {
    color: #333;
    text-decoration: none !important;
    background: transparent;
}
.list-blogs.blog-main .blog-item .blog-item-info {
    width: calc(100%/12*8);
    padding-left: 30px;
}