<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/fontawesome-free-6.0.0/css/all.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/css.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="header">
                <div class="logo">
                    <img src="img/logo.png" alt="" class="image_logo">
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="">Trang Chủ</a></li>
                        <li><a href="">Giới Thiệu</a></li>
                        <li><a href="">Sản Phẩm</a></li>
                        <li><a href="">Tin Tức</a></li>
                        <li><a href="">Liên Hệ</a></li>
                    </ul>
                </div>
                <div class="buy">
                    <div class="search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="cart">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                    <div class="user">
                        <i class="fa-solid fa-user"></i>
                    </div>
                </div>
            </div>
            <div class="category">
                <div class="block_category">
                    <img src="img/header_category1_image.jpg" alt="">
                    <span>Coffee</span>
                </div>
                <div class="block_category">
                    <img src="img/header_category2_image.webp" alt="">
                    <span>Coffee</span>
                </div>
                <div class="block_category">
                    <img src="img/header_category3_image.webp" alt="">
                    <span>Coffee</span>
                </div>
                <div class="block_category">
                    <img src="img/header_category4_image.webp" alt="">
                    <span>Coffee</span>
                </div>
                <div class="block_category">
                    <img src="img/header_category5_image.webp" alt="">
                    <span>Coffee</span>
                </div>
                <div class="block_category">
                    <img src="img/header_category6_image.webp" alt="">
                    <span>Coffee</span>
                </div>
            </div>
            <div class="banner">
                <img src="img/3.jpg" alt="" class="image_banner">
            </div>
        </header>
        <section>
            <div class="block1">
                <img src="img/module_banner1.webp" alt="" class="module_banner1">
            </div>
            <div class="block2">
                <div class="smallblock1"><img src="img/module_banner2.png" alt="" class="module_banner1"></div>
                <div class="smallblock2"><img src="img/module_banner3.png" alt="" class="module_banner1"></div>
            </div>
        </section>
        <article>
            <img src="img/bg-section.webp" alt="" class="image_content">
            <div class="content">
                <div class="products">
                    <div class="image">
                        <img src="img/cocktail-b52.jpg" alt="" class="image_products">
                    </div>
                    <div class="detail_price">
                        <div class="price">
                            <p>CAFE ICE LATTE</p>
                            <p>60.000₫</p>
                        </div>
                        <div class="infomation_pro">
                            <p>Cà phê đậm phong cách Ý được phối hợp với kem giúp giữ hương vị và tạo sự thơm ngon.</p>
                        </div>
                    </div>
                </div>
                <div class="products">
                    <div class="image">
                        <img src="img/cocktail-b52.jpg" alt="" class="image_products">
                    </div>
                    <div class="detail_price">
                        <div class="price">
                            <p>CAFE ICE LATTE</p>
                            <p>60.000₫</p>
                        </div>
                        <div class="infomation_pro">
                            <p>Cà phê đậm phong cách Ý được phối hợp với kem giúp giữ hương vị và tạo sự thơm ngon.</p>
                        </div>
                    </div>
                </div>
                <div class="products">
                    <div class="image">
                        <img src="img/cocktail-b52.jpg" alt="" class="image_products">
                    </div>
                    <div class="detail_price">
                        <div class="price">
                            <p>CAFE ICE LATTE</p>
                            <p>60.000₫</p>
                        </div>
                        <div class="infomation_pro">
                            <p>Cà phê đậm phong cách Ý được phối hợp với kem giúp giữ hương vị và tạo sự thơm ngon.</p>
                        </div>
                    </div>
                </div>
                <div class="products">
                    <div class="image">
                        <img src="img/cocktail-b52.jpg" alt="" class="image_products">
                    </div>
                    <div class="detail_price">
                        <div class="price">
                            <p>CAFE ICE LATTE</p>
                            <p>60.000₫</p>
                        </div>
                        <div class="infomation_pro">
                            <p>Cà phê đậm phong cách Ý được phối hợp với kem giúp giữ hương vị và tạo sự thơm ngon.</p>
                        </div>
                    </div>
                </div>
                <div class="products">
                    <div class="image">
                        <img src="img/cocktail-b52.jpg" alt="" class="image_products">
                    </div>
                    <div class="detail_price">
                        <div class="price">
                            <p>CAFE ICE LATTE</p>
                            <p>60.000₫</p>
                        </div>
                        <div class="infomation_pro">
                            <p>Cà phê đậm phong cách Ý được phối hợp với kem giúp giữ hương vị và tạo sự thơm ngon.</p>
                        </div>
                    </div>
                </div>
                <div class="products">
                    <div class="image">
                        <img src="img/cocktail-b52.jpg" alt="" class="image_products">
                    </div>
                    <div class="detail_price">
                        <div class="price">
                            <p>CAFE ICE LATTE</p>
                            <p>60.000₫</p>
                        </div>
                        <div class="infomation_pro">
                            <p>Cà phê đậm phong cách Ý được phối hợp với kem giúp giữ hương vị và tạo sự thơm ngon.</p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <aside>
            <!-- <h1></h1> -->
            <div class="container">
                <div class="title-text text-center">
                    <h1>Coffee là hương vị của bạn</h1>
                    <p>Có gì bất ngờ tại đây</p>
                </div>
                <div class="small_box">
                    <div class="products_detail">
                        <div class="image">
                            <img src="img/herradura-tequila-mojito.jpg" alt="" class="image_products1">
                        </div>
                        <div class="name_products">
                            <p>200000</p>
                            <p>VIETNAMESE COFFEE</p>
                        </div>
                    </div>
                    <div class="products_detail">
                        <div class="image">
                            <img src="img/herradura-tequila-mojito.jpg" alt="" class="image_products1">
                        </div>
                        <div class="name_products">
                            <p>200000</p>
                            <p>VIETNAMESE COFFEE</p>
                        </div>
                    </div>
                    <div class="products_detail">
                        <div class="image">
                            <img src="img/herradura-tequila-mojito.jpg" alt="" class="image_products1">
                        </div>
                        <div class="name_products">
                            <p>200000</p>
                            <p>VIETNAMESE COFFEE</p>
                        </div>
                    </div>
                    <div class="products_detail">
                        <div class="image">
                            <img src="img/herradura-tequila-mojito.jpg" alt="" class="image_products1">
                        </div>
                        <div class="name_products">
                            <p>200000</p>
                            <p>VIETNAMESE COFFEE</p>
                        </div>
                    </div>

                </div>
            </div>
        </aside>
        <div class="news">
            <div class="container">
                <div class="small_box">
                    <div class="title">
                        <h1>Quy trình làm COFFEE</h1>
                        <p>Chúng tôi muốn bạn tự hào cho chính bản thân mình hương vị cà phê theo ý thích. Đó là bản
                            chất cơ bản nhất để có những tách cà phê thơm ngon nhất</p>
                        <div class="botum">
                            <p>Khám Phá Thêm</p>
                        </div>
                        <div class="image">
                            <img src="img/icon-cf.webp" alt="">
                        </div>
                    </div>
                </div>
                <div class="small_box">
                    <img src="img/blog3.webp" alt="">
                </div>
            </div>
        </div>
        <div class="news1">
            <div class="small_box">
                <div class="title">
                    <h1>Tin Tức</h1>
                    <span>Mỗi tuần là mỗi một câu chuyện ấm áp, mỗi tuần là một câu chuyện tình. Nào cùng thưởng thức cà
                        phê và đọc nhé!</span>
                </div>
                <div class="content">
                    <div class="box">
                        <div class="image">
                            <img src="img/blog3.webp" alt="">
                        </div>
                        <div class="content">
                            <h5>CHẾ BIẾN CÀ PHÊ</h5>
                            <P>cà phê sạch đơn giảm 10% cà phê, không pha trộn thêm chất</P>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image">
                            <img src="img/blog3.webp" alt="">
                        </div>
                        <div class="content">
                            <h5>CHẾ BIẾN CÀ PHÊ</h5>
                            <P>cà phê sạch đơn giảm 10% cà phê, không pha trộn thêm chất</P>
                        </div>
                    </div>
                    <div class="box">
                        <div class="image">
                            <img src="img/blog3.webp" alt="">
                        </div>
                        <div class="content">
                            <h5>CHẾ BIẾN CÀ PHÊ</h5>
                            <P>cà phê sạch đơn giảm 10% cà phê, không pha trộn thêm chất</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="feddback">
            <img src="img/bg-section-danhgia.webp" alt="" class="module_banner2" >
            <div class="content">
                <div class="title">
                    <h2>Khách hàng nói gì</h2>
                </div>
            </div>
        </div>
        <div class="1">

        </div>
    </div>
    <div class="back-to-top">
        <button onclick="back_to_top()" id="back-to-top"><i class='bx bx-chevrons-up bx-fade-up'></i></i></button>
    </div>
    <script>
        var nav = document.querySelector('.header');
        var backToTop = document.querySelector('#back-to-top');
        window.onscroll = function () { scrollFunction() }
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                backToTop.style.display = "block";
                nav.classList.add("show");
            } else {
                backToTop.style.display = "none";
                nav.classList.remove("show");
            }
        }
        scrollFunction();
        function back_to_top() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</body>

</html>